@import 'account/style.css';
@import 'calendar/style.css';
@import 'creator/style.css';
@import 'event/style.css';
@import 'statics/style.css';

.form {
    width: 90%;
    max-width: 60ex;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    padding: 20px;
    border: gray solid 1px;
    border-radius: 30px;

    h2, h3 {
        text-align: center;
        margin: 5px auto;
    }

    form {
        width: 90%;
        padding: 10px;

        button {
            display: block;
            margin: 10px auto;
            width: 90%;
            max-width: 150px;
        }
    }

    .field {
        margin: 10px;
        padding: 10px;
        text-align: center;
        line-height: 1.7em;

        border: gray solid 1px; /* Change border color later when have palette */
        border-radius: 10px;

        label {
            display: inline-block;
            margin: 0 10px;
        }

        input {
            display: inline-block;
            margin-left: auto;
        }

        input[type='text'] {
            min-width: 10ex;
        }
    }

    .message {
        padding: 5px 10px;
        align-content: center;
        align-items: center;
    }
}