#calendar {
    align-content: center;
    width: 80%;
    margin: auto;
}

#calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    height: 50px;

    div {
        display: flex;
        flex-direction: row;
    }

    h2 {
        margin: auto 0;
        text-transform: uppercase;
    }
}

.calendar-button {
    height: 80%;
    margin: auto 0;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        border: 1px solid black;
        padding: 0;
        width: calc(100%/7);
    }

    .calendar-header {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;

        text-align: center;
        text-transform: uppercase;
    }

    .calendar-cell > div {
        width: 100%;
        aspect-ratio: 1.3 / 1;
        padding: 5px;
        box-sizing: border-box;
    }

    .calendar-cell:not([cell-date]) {
        background-color: gray;
    }

    .day-label {
        text-align: right;
        font-weight: bold;
    }

    .event-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .calendar-event {
            width: 95%;
            padding: 1px 1px 10px 1px;
            margin: 1px auto;

            border: 1px solid gray;
            border-radius: 5px;

            white-space: nowrap;
            overflow: scroll;

        }
    }
}
